## Please provide

### Your name:  William Juang
### People you worked with:  [their names here]

# SI 370 - Homework 1: Reviewing Python and NumPy + Pandas Basics

**Objectives:**

Reviewing Python and NumPy concepts and getting familiar with basic Pandas DataFrame operations, including:
* importing data from files,
* slicing, sorting, computing basic summary statistics.

Our main purpose is to review what we have already covered in the class and the lab problems that we were not be able to complete.

**Submission Instructions:**
After completing this homework, you should turn in two files via SI 370 001 WN 2017 -> Assignments:
1. A Jupyter Notebook file named hw1-YOUR_UNIQUE_NAME.ipynb.  Please observe the following requirements:
    * This file should show all of the required work, including code, results, visualizations (if any), and necessary comments to your code.
    * You should use Markdown cells to enclose all textual content, including explanations, discoveries, and conclusions. Do not include such content unless required.
    * Irrelevant code and results should be deleted prior to submission.
2. An html file named hw1-YOUR_UNIQUE_NAME.html showing the preview of the above IPython Notebook. To create this file, select File -> Download as HTML. We want this in case something breaks when we load your notebook.  This will let us see what you saw when you were done.

## 1. Setup IPython Environment
The configuration of Anaconda and Jupyter was covered in [Lab 1: Setup IPython Environment](https://docs.google.com/document/d/1mIl3xVq2jPh11c5xu_OHlv9N5q45gbYyCs5LHWLsFNY/edit?usp=sharing) (on Thursday January 05, 2017). We assume you have completed or reviewed all the required tasks in Lab 1 before attempting this homework.

## 2. Monsters, Again!
We want to start with Python review. So, for this one you should use pure Python (Lists not Numpy arrays!). We suggest you review first lecture notes and the first lab before answering these questions.
Let’s return to the first lab. Do you remember the movie monsters? Use the same code and load the two lists of names and heights.

In [28]:
monsterNames = ['Ymir','King Kong','Blob','Yongary','Gamera','King Ghidorah','Kroll','Godzilla','Cloverfield Monster']
monsterHeights = [4,15,10,50,80,150,250,100,60]

# the two arrays are alligned... so Ymir is monsterNames[0] and Ymir's height can be found 
# by accessing monsterHeights[0] (in meters)

a) Create two new empty lists, one for monster names called monsterNames2, and the other one for monster heights called monsterHeights2.

In [29]:
monsterNames2 = []
monsterHeights2 = []

b) Insert the following monsters into the two lists. Each monster should be entered in the index (position) of the list that is indicated in the last column.
![caption](MostersList.PNG)
You have three ways of doing this by using insert, append, or initializing the list with predefined values.

In [30]:
# Think about the differences between the three options. You can use whichever you prefer.
monsterNames2.append("Aspidoceleon")
monsterNames2.append("Chimera")
monsterNames2.append("Djinniyeh")
monsterNames2.append("Faun")
monsterNames2.append("Griffen")
monsterNames2.append("Hieracosphinx")
monsterNames2.append("Mermicolion")
monsterHeights2.append(73)
monsterHeights2.append(19)
monsterHeights2.append(2)
monsterHeights2.append(46)
monsterHeights2.append(199)
monsterHeights2.append(278)
monsterHeights2.append(32)

c) Concatenate monsterNames to monsterNames2 and monsterHeights2 to monsterHeights.

In [31]:
monsterNames2 = monsterNames + monsterNames2     # Fill it out.
monsterHeight2 = monsterHeights + monsterHeights2    # Fill it out.
print(monsterNames2)
print(monsterHeight2)

['Ymir', 'King Kong', 'Blob', 'Yongary', 'Gamera', 'King Ghidorah', 'Kroll', 'Godzilla', 'Cloverfield Monster', 'Aspidoceleon', 'Chimera', 'Djinniyeh', 'Faun', 'Griffen', 'Hieracosphinx', 'Mermicolion']
[4, 15, 10, 50, 80, 150, 250, 100, 60, 73, 19, 2, 46, 199, 278, 32]

d) How many monsters are there in the concatenated lists?

In [32]:
# Don't forget to print out the number of monsters in each list. They should match.

print(len(monsterNames2))
print(len(monsterHeight2))

16
16

e) Using the concatenated lists from the previous question, we want to run a contest between monsters. In order to make sure the contest is fair, we should match each monster with another monster with the closest height (based on absolute distance between the two heights).  If there’s a tie (two monsters are equally close) just pick one. Write a function that receives name of a monster as an input and returns name of another monster with the closest height.

In [33]:
# Definition of the matching function:
def matchFinder(monster1Name):
    # Use monsterHeight2 and monsterNames2 inside this function.
    index = monsterNames2.index(monster1Name)
    heightdiff = []
    heightindex = []
    for i in monsterHeight2:
        if abs(i - monsterHeight2[index]) > 0:
            heightdiff.append(abs(i - monsterHeight2[index]))
            heightindex.append(monsterHeight2.index(i))
    # Fill out the function body.
    
    return monsterNames2[(heightindex[heightdiff.index(min(heightdiff))])] # Your function should return the name of the matched monster. Right now it returns the name of the first one.

In [34]:
# Your function should return "Yongary" for "Faun".
print(matchFinder("Faun"))
# Your function should return "Ymir" for "Djinniyeh".
print(matchFinder("Djinniyeh"))
# Your function should return "Kroll" for "Hieracosphinx".
print(matchFinder("Hieracosphinx"))

Yongary
Ymir
Kroll

f) Modify your answer to the previous question such that if the monster does not exist in monsterNames2, prints out an error message and returns an empty string.

In [35]:
# Definition of the matching function:
def matchFinder2(monster1Name):
    # Use monsterHeight2 and monsterNames2 inside this function.
    if monster1Name not in monsterNames2:
        return ""
    else:
        index = monsterNames2.index(monster1Name)
        heightdiff = []
        heightindex = []
        for i in monsterHeight2:
            if abs(i - monsterHeight2[index]) > 0:
                heightdiff.append(abs(i - monsterHeight2[index]))
                heightindex.append(monsterHeight2.index(i))
        # Fill out the function body.

        return monsterNames2[(heightindex[heightdiff.index(min(heightdiff))])] # Your function should return the name of the matched monster. Right now it returns the name of the first one.

In [36]:
# Your function should return the error message for "Alice".
matchFinder2("Alice")

''

## Extra Credit
g) Imagine we have very large lists of monsters. Clearly our answer to question E would not be efficient. However, we learned how to sort lists of monsters. Use the sorted lists to make your answer to question E more efficient. Your function should sort the monsters first. Then, every time you want to call the function to find a match for a monster, it uses the sorted lists and finds it much faster.

In [37]:
# Definition of the matching function:
def matchFinderSorted(monster1Name):
    # Use monsterHeight2 and monsterNames2 inside this function.
    
    # Fill out the function body.
    
    return monsterNames2[0] # Your function should return the name of the matched monster. Right now it returns the name of the first one.

In [38]:
# Your function should return "Yongary" for "Faun".
print(matchFinderSorted("Faun"))
# Your function should return "Ymir" for "Djinniyeh".
print(matchFinderSorted("Djinniyeh"))
# Your function should return "Kroll" for "Hieracosphinx".
print(matchFinderSorted("Hieracosphinx"))

Ymir
Ymir
Ymir

## 3a. Now, let’s use Pandas!

In [39]:
import numpy as np
import pandas as pd
from pandas import DataFrame

We will be using the same dataset as in [Lab 1](https://docs.google.com/document/d/1mIl3xVq2jPh11c5xu_OHlv9N5q45gbYyCs5LHWLsFNY/edit?usp=sharing). The dataset (US baby names) can be downloaded from Canvas->SI 370 001 WN 2017->Files->Datasets->names.zip. Save the zip file in the same folder where you will put your Jupyter Notebook and unzip it. You should see a folder named names along with the .ipynb file created by you in the same folder.

The names folder includes a number of files named in format yob<year>.txt. Think of this as the popularity of baby names by (y)ear (o)f (b)irth for that <year>. You may use a text editor to inspect the content of the files. Each file contains the information of the names of babies born in the corresponding year. The first several lines of yob1995.txt are shown below.

name,gender,birth_count

Deziray,F,8

Nafis,M,11

Christan,F,52

Adeel,M,8

Nicolo,M,30

The first line is the header, showing the column names. Each line in the rest of the file consists of three fields, names, gender, and the number of births for that name-gender combination in that year. Note that the names with fewer than 5 occurrences for the year are not included.

The command for importing a single file as a DataFrame is:

In [40]:
df_1995 = pd.read_csv('names/yob1995.txt')  # df means "DataFrame"

The commands for importing all files into a single DataFrame are (basically we are loading a data frame for each year and then mashing them up together):

In [41]:
df_1995 = pd.read_csv('names/yob1995.txt')
dfs = []
years = range(1880, 2015)
for y in years:
    df = pd.read_csv('names/yob%d.txt' % y)
    df['year'] = y
    dfs.append(df)
df_all = pd.concat(dfs, ignore_index=True)

You should be able to understand how most of the above commands work. The rest of the assignment will involve various basic operations on the two DataFrames, df_1995 and df_all, which are created by the above code.

## 3b. Slicing, Sorting, and Summary Statistics
Answer the following by using proper Pandas operations. Both your code and results should be included in your submitted Jupyter Notebook (same below). All the questions in this section involve df_1995 only.

(a) What do you think is an appropriate main/index key for this dataframe? Why? Set that feature as the index of the dataframe.

In [42]:
# The name is an appropriate main/index key for this dataframe because that is what separates the data.
indexed_df_1995 = df_1995.set_index('name')

(b) For which variable(s) in this dataset can you report average, variance, median, minimum, and maximum. Why? Report them.

In [43]:
# You can only report the average, variance, median, minimum, and maximum for the birth_count column because that is the only
# column with numerical data.

indexed_df_1995.mean()
indexed_df_1995.var()
indexed_df_1995.median()
indexed_df_1995.max()

gender             M
birth_count    41403
dtype: object

In [44]:
print("Average = 140.366526")
print("Variance = 1.212324e+06")
print("Median = 11")
print("Minimum = 5")
print("Maximum = 41403")

Average = 140.366526
Variance = 1.212324e+06
Median = 11
Minimum = 5
Maximum = 41403

(c) How many names have greater than 9,000 number of births?

In [45]:
(indexed_df_1995.birth_count > 9000).sum()

70

(d) Which names have greater than 9,000 number of births? What are their number of births?

In [46]:
indexed_df_1995[(indexed_df_1995.birth_count > 9000)]

            gender  birth_count
name
Thomas           M        14159
Cody             M        15564
Jordan           M        13567
Eric             M        12478
Brittany         F        16477
Jose             M        11779
Austin           M        25906
Justin           M        21579
Danielle         F        10649
Daniel           M        26702
Morgan           F        10875
Jason            M         9001
Timothy          M         9786
Nicole           F        12276
Dylan            M        12087
Taylor           F        20424
James            M        22727
Zachary          M        23128
Matthew          M        32874
Ryan             M        23089
Samuel           M        12425
Christian        M        13807
Andrew           M        25842
John             M        23230
Adam             M        10482
Nathan           M        10304
Elizabeth        F        16183
Alexander        M        19446
Alyssa           F        10099
Emily            F        24377
...            ...          ...
Stephanie        F        12979
Rachel           F        16041
Lauren           F        13444
Sarah            F        21365
Jennifer         F        12685
Nicholas         M        29156
Jacob            M        31122
Joshua           M        30715
Hannah           F        17012
Kevin            M        15852
Steven           M        10660
Alexis           F        14330
Victoria         F        12250
Samantha         F        21646
David            M        23029
Benjamin         M        12709
Robert           M        18583
Jonathan         M        18147
Brianna          F        11879
Kayla            F        16083
Tyler            M        29153
Brandon          M        26901
Ashley           F        26603
William          M        20153
Courtney         F        12771
Christopher      M        32668
Anthony          M        20480
Joseph           M        25337
Michael          M        41403
Brian            M        10987

[70 rows x 2 columns]

(d) How many names have number of births between 1,000 and 1,003.

In [47]:
((indexed_df_1995.birth_count > 1000) & (indexed_df_1995.birth_count < 1003)).sum()

2

(e) How many boy names are in this dataset?

In [48]:
(indexed_df_1995.gender == 'M').sum()

10326

(f) What are the 8 most popular names in this dataset? (Hint: You have already answered this!)

In [53]:
indexed_df_1995.sort_values('birth_count', ascending=False).head(8)

            gender  birth_count
name
Michael          M        41403
Matthew          M        32874
Christopher      M        32668
Jacob            M        31122
Joshua           M        30715
Nicholas         M        29156
Tyler            M        29153
Jessica          F        27938

## 5. Hey, you forgot to pick a camera for Iman!
We’re sure you have already collaborated with your classmates to answer “Q5: Recommendation Task” in lab 2.2. That’s perfect! In this assignment, we want you to think about your discussion with your classmates and the solution that you collaboratively found. However, try to do it again by yourself. Do not ask others anymore. If you came up with more creative ways of recommending the camera, that’s wonderful. Let us know about your ideas.

First of all, download the dataset from Canvas -> SI 370 001 WN 2017 -> Files -> Datasets -> camera.csv

Then copy the dataset to the same directory as this worksheet so you don't have to change the code below.

In [80]:
import numpy as np
import pandas as pd
cameras = pd.read_csv('camera.csv')

# Convert columns "name", "resolution", "weight", and "price" as NumPy arrays:
nameArray = cameras['name'].values   # the names of the cameras
resolutionArray = cameras['resolution'].values  # the resolution of the cameras
weightArray = cameras['weight'].values # the weights of the cameras
priceArray = cameras['price'].values # the prices of the cameras

In the previous lab question we identified the highest resolution, lowest price, and lowest weight. But these are not necessarily directing us to the same camera. Write a piece of code that solves this issue and filters the dataset to find the closest camera that Iman is looking for. What kind of information do you think Iman should provide for you to make your recommendation better?

**Step 1:** Hint: create some kind of score that combines the 'features' of interest.  For example, if I wanted cameras with high resolution, I might say:

score = resolution - price  

(as resolution goes up, score goes up; as price goes up, score goes down).  Do this with resolution, price, and weight. Think about whether you want to use the "raw" values or something normalized.

In [124]:
# Define the function Normalizer below:
def Normalizer (inputArray):
    
    while max(inputArray) > 1:
        inputArray = inputArray/10
    
    return(inputArray)   # change this, right now it's returning exactly what you fed in
    
# test your code (prints the first 10 items)
print(Normalizer(resolutionArray[1:10]))
print(Normalizer(weightArray[1:10]))
print(Normalizer(priceArray[1:10]))

[ 0.242  0.243  0.203  0.201  0.201  0.121  0.2    0.201  0.16 ]
[ 0.226   0.1622  0.0952  0.0423  0.113   0.0858  0.0497  0.042   0.059 ]
[ 0.44695  0.698    0.329    0.118    0.799    0.2899   0.129    0.13999
  0.2269 ]

If your normalizer works fine, then save the normalized values in the following arrays:

In [125]:
resolutionNormalized = Normalizer(resolutionArray)
weightNormalized = Normalizer(weightArray)
priceNormalized = Normalizer(priceArray)

In [126]:
# Based on your definition of score, complete this code to create the score:
cameras['score'] = (resolutionNormalized - weightNormalized - priceNormalized)

**Step 2:** Hint: Remember, Iman wants only cameras that are between 15 and 25 megapixels but not between 19 and 21.

Create a filteredCameras dataframe that has only those cameras that Iman might want.

In [127]:
imanCriteria = ~((cameras.resolution > 19) & (cameras.resolution < 21)) & (cameras.resolution > 15) & (cameras.resolution < 25)

filteredCameras = cameras[imanCriteria]  # fix this, right now filtered cameras and cameras is the same thing... use imanCriteria
filteredCameras.head(10)  # print the first 10 lines

,resolution,name,weight,price,score
1,24.2,Nikon D3300 1532 18-55mm f/3.5-5.6G VR II Auto...,22.60,446.95,-0.028695
2,24.3,Sony Alpha a6000 Mirrorless Digital Camera wit...,16.22,698.00,0.011000
9,16.0,Nikon Coolpix S7000 16 MP Digital Camera with ...,5.90,226.90,0.078310
12,16.0,Nikon COOLPIX P900 Digital Camera with 83x Opt...,31.80,559.00,-0.213900
13,24.2,Nikon D3400 w/ AF-P DX NIKKOR 18-55mm f/3.5-5....,23.20,496.95,-0.039695
14,18.0,Canon EOS Rebel T6 Digital SLR Camera Kit with...,24.21,449.99,-0.107099
21,16.0,Olympus TG-870 Tough Waterproof Digital Camera...,7.80,279.99,0.054001
22,16.1,Panasonic LUMIX DMC-FZ70 16.1 MP Digital Camer...,21.44,249.99,-0.078399
23,18.2,Sony DSCWX220/B 18.2 MP Digital Camera with 2....,4.30,198.00,0.119200
25,18.0,Canon EOS Rebel T5i EF-S 18-55 IS STM Kit,27.70,599.00,-0.156900

**Step 3:** Find the camera with the max score.

In [152]:
maxScore = max(cameras['score'])  # fix this, right now it's just using the first score as the max
bestMatch = filteredCameras[filteredCameras.score > 0.11]   # fix this, right now it's not filtering at all
bestMatch

,resolution,name,weight,price,score
23,18.2,Sony DSCWX220/B 18.2 MP Digital Camera with 2....,4.3,198.0,0.1192